* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--dark-bg: #1f2937;
	--main-txt: #f9faf8;
	--sec-txt: #e5e7eb;
	--btn-bg: #3882f6;
}

html {
	font-family: 'DejaVu Sans', Arial, sans-serif;
}

body > header {
	height: 72px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
}

nav ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

a {
	text-decoration: none;
}
